<h2>List post</h2>

<a role="button" [routerLink]="['/posts/new']">Nouveau Post</a>

<ul class="list-group">
  <!-- <li >{{post.title}}</li>
  <li >{{post.body}}</li> -->
  <li
  *ngFor="let post of postList"
  class="list-group-item d-flex justify-content-between align-items-center"
  (click)="showDetails(post)"
  style="cursor: pointer;"
  >
  <span> post :{{ post.id }}</span>
   <!-- Icône Bootstrap pour indiquer la possibilité de voir plus de détails -->
   <span class="badge bg-primary rounded-pill">
    <i class="bi bi-info-circle"></i>
  </span>

   <!-- Affiche les détails du todo sélectionné uniquement si c'est le todo actuellement sélectionné -->
   <div *ngIf="selectedPost === post" class="card mt-2 p-3 bg-light">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">
        <strong>body: </strong> {{ post.body }}
      </p>
      <p class="card-text">
        <strong>userId: </strong> {{ post.userId }}
      </p>
    </div>
  </div>

 </li>
</ul>
